<html>
<title>
	<%= stylesheet_link_tag "application" %>  
</title>
<body>
	<div class="mainbody">
		<div class="pins">  
			<%= render "layouts/more_pins" %>
		</div>
	</div>
</body>
</html>