<%= stylesheet_link_tag "static_pages.scss" %>
<%= javascript_include_tag "static_pages.coffee" %>

<h1>PINterview</h1>
<p>Let others know about your interview experience!</p>
<button id = "create-button">Create New Pin</button>
<!-- <p>This is the "dashboard" where we display all pins and search function</p> -->

