<html>
<head>
	<%= stylesheet_link_tag "home.scss" %> 	
</head>
<body class ="dashboard-body">
	<div class="mainbody">
		<div>poop2</div>
		<div class="pins">  
			<%= render "layouts/more_pins" %>
		</div>
	</div>
</body>
</html>