<htmL>
<head>
  <%= stylesheet_link_tag "static_pages" %>
</head>
<body>
  <div class="create">
    <div class="container">  
      <h2>Pin a new interview!</h2>
      <div class="new_pins">  
      <%= render "layouts/new_pin" %>
      </div>

  </div>
</body>
</html>