<h1>Create New Pin</h1>
<!-- <p>Find me in app/views/pins/new.html.erb</p> -->
<form>
  Title:<br>
  <input type="text" name="title">
  <br>
  Company:<br>
  <input type="text" name="company">
  <br>
  Date:<br>
  <input type="text" name="date">  
  <br>
  Difficulty:<br>
  <input type="text" name="difficulty">   
  <br>
  Type:<br>
  <input type="text" name="type">  
  <br>
  Attire:<br>
  <input type="text" name="attire"> 
  <br>
  Questions:<br>
  <input type="text" name="questions">
  <br>  
  Like Count:<br>
  <input type="text" name="like_count"> 
  <br>
  Length:<br>
  <input type="text" name="length"> 
  <br>  
  Description:<br>
  <input type="text" name="description">   
</form>