<htmL>
<head>
  <%= stylesheet_link_tag "static_pages" %>
</head>
<body>
	<div class="create">
    	<div class = "create-header">Create a New Pin</div>
    	<div class="new_pins">  
    		<%= render "layouts/new_pin" %>
    	</div>
	</div>
</body>
</html>