<%= stylesheet_link_tag "static_pages" %>


<div class = "company-header">Companies</div>
<div class="mainbody">
	<div class="pins">  
		<%= render "layouts/more_pins", object: @pins %>
 	</div>
</div>
