<% object.each do |pin| %>
    <%= link_to(pin) do %>
        <div class="pin">
          <h3 class= "title-container"><%= pin.position %></h3>
          <h3 class= "company-container"><%= pin.company %></h3>
        </div>
    <% end %>
<% end %>